<ion-view hide-nav-bar="true">
    <div class="bar bar-subheader io-model-header io-group-head">
        <div class="row m_p_0">
            <div ng-click="$ionicGoBack()" class="goBackStyle">
                <i class="icon ion-ios-arrow-left"></i>
            </div>
            <div class="col col-34 m_p_0  io-head-center">集货详情</div>
            <div class="col col-23 m_p_0 io-head-more" ng-click="shareGroupInfo()">
                <i class="icon-more_horiz"></i>
            </div>
        </div>
    </div>

    <ion-content class="padding io-common-content" scrollbar-y="false">
        <!--head-->
        <div class="io-group-box">
            <div class="io-page-title">{{market.mktNameShow}}</div>
            <div class="io-page-tips">
                {{market.weightMin}}-{{market.weightMax}}kg每日最低需<span>{{market.dailyMinPackages}}</span>件
            </div>
        </div>

        <!--banner-->
        <div class="io-group-box">
            <div class="io-detail-banner">
                <div class="img"><img src="img/banner.jpg" alt=""></div>
                <div class="io-detail-banner-tips">
                    <span>低至￥<i>{{market.basePrice}}</i></span>
                    <b>{{market.baseWeight}}kg</b>
                </div>
            </div>
            <div class="io-list-more io-detail-page">
                <div class="io-progress">
                    <span style="width:{{perSize/market.groupLimit*100}}%">{{perSize/market.groupLimit*100}}%</span>
                </div>
                <div class="io-list-btn">
                    <i>还差 <span>{{market.groupLimit-perSize}}</span>人即可成团</i>
                </div>
            </div>

            <div class="io-page-tips-b">
                截止日期：<span>8月12日</span>
            </div>
        </div>

        <!--desc-->
        <div class="io-group-box io-group-box-bordera">
            <div class="io-box-title">
                <span class="icon-info_outline"></span>
                <b>使用要求</b>
            </div>
            <div class="io-pro-detail-desc">{{market.useRequire}}</div>
        </div>

        <!--最近参与-->
        <div class="io-group-box io-group-box-borderb">
            <div class="io-box-title">
                <span class="icon-info-person"></span>
                <b>最近参与</b>
            </div>
            <div class="io-perImg-wrap">
                <div class="io-perImg-list">
                    <span ng-repeat="x in custList"><img src="img/ben.png" alt=""></span>
                </div>
                <div class="io-perImg-tips">已有<span>{{perSize}}</span>人参团</div>
            </div>
        </div>

        <div class="io-cantuan-info bar bar-footer" ng-click="goModule3()">
            <span class="io-do-now" ng-click="doGroupNow()">立即参加</span>
            <span class="io-share-now" ng-click="shareGroupInfo()"></span>
        </div>
    </ion-content>
</ion-view>
