<ion-view hide-nav-bar="true">
    <div class="bar bar-subheader io-model-header io-group-head">
        <div class="row m_p_0">
            <div ng-click="$ionicGoBack()" class="goBackStyle">
                <i class="icon ion-ios-arrow-left"></i>
            </div>
            <div class="col col-34 m_p_0  io-head-center">顺丰集货助手</div>
            <div class="col col-23 m_p_0 io-head-more">
                <i class="icon-more_horiz"></i>
            </div>
        </div>
    </div>
    <ion-content style="background-color: #F8F8F8;top: 44px;" overflow-scroll="false" has-bouncing="false">

        <div class="io-page-title">鞋服专送0809312期</div>
        <div style="color: black;width: 100%;justify-content: center;" class="module3-01-color">全国流向&nbsp;&nbsp;<span
                class="module3-text-color">1.5-5kg</span>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;每日承诺寄件量最低<span
                class="module3-text-color">20</span>件
        </div>

        <div class="grade_below_content_tab module3-003-childe-top">
            <img style="width: 50%" ng-src="img/erwima.png">
        </div>

        <div class="module3-003-childe-top">
            <div style="margin-left: 25%;" class="module3-text-02-color">扫一扫或长按小程序识别码(二维码)</br>即可直达集货页面</div>
        </div>

        <div class="module3-003-childe-top">
            <div class="grade_below_content_tab module3-02-background-color" style="height: 50px;font-size: 20px;color: #fff;width: 70%;border-radius: 6px;">
                保存分享小程序
            </div>
        </div>
        <div class="module3-003-childe-top">
            <div class="grade_below_content_tab module3-text-02-color" >
                长按识别二维码,查看详情
            </div>
        </div>


    </ion-content>

</ion-view>
