<ion-view hide-nav-bar="true">
    <div class="bar bar-subheader io-model-header io-group-head">
        <div class="row m_p_0">
            <div ng-click="$ionicGoBack()" class="goBackStyle">
                <i class="icon ion-ios-arrow-left"></i>
            </div>
            <div class="col col-34 m_p_0  io-head-center">填写寄件信息</div>
            <div class="col col-23 m_p_0 io-head-more">
                <i class="icon-more_horiz"></i>
            </div>
        </div>
    </div>
    <ion-content style="background-color: #F8F8F8;top: 44px;" overflow-scroll="false" has-bouncing="false">

        <div class="module3-02-background-color-fff">
            <div class="module3-01-color padding"><i
                    class="ion-location module3-02-icon-i"></i>寄件地址
            </div>
            <div style="display: flex;padding-top: 0;" class="padding module3-02-border-top">
                <div class="module3-02-color grade_below_content_tab module3-02-jingdian">所在地区</div>
                <input style="flex: 3;text-align: center;background-color: #fff;margin-left: 10%;" type="text" readonly
                       placeholder="Click me to pick an address" id="myAddrs" name="addr" data-key="4-84-1298"
                       value="山西省 太原市 万柏林区"/>
                <span class="ion-ios-arrow-right grade_below_content_tab module3-02-icon-span"></span>
            </div>
            <div style="position: relative">
                <textarea class="item-input-inset module3-02-border-topbottom" maxlength="150" type="text"
                          placeholder="请填写详细地址,不少于5个字"
                          style="flex: 2;font-size:14px;color:#262626;height:100px;width:100%;resize:none;"
                          ng-model="textName.key"></textarea>
                <div style="position: absolute;top: 80%;left: 88%;color: {{textName.key.length < 5 || !textName.key ? '#EF473A':'#000'}}" >{{textName.key ? textName.key.length : 0}}/200</div>

            </div>
        </div>
        <div style="background-color: #F8F8F8;width: 100%;height: 10px"></div>

        <div class="module3-02-background-color-fff">
            <div class="module3-01-color padding"><i
                    class="ion-android-person module3-02-icon-i"></i>寄件人
            </div>
            <input class="module3-02-1input" ng-model="textName.name"
                   placeholder="请填写寄件人姓名" type="text"/>
            <input class="module3-02-1input" style="border-top: solid 0!important;" ng-model="textName.phone" placeholder="请填写寄件人电话" type="number"/>
        </div>
        <div style="background-color: #F8F8F8;width: 100%;height: 7px"></div>

        <div class="module3-02-background-color-fff">
            <div class="module3-01-color padding" style="    color: black;">
                预估每日寄件量 <span class="module3-003-span">(请如实填报,以便我们为您准备资源)</span>
            </div>

            <input class="module3-02-1input"
                   placeholder="请填写寄件数量 (至少20件)" ng-model="textName.number"  type="number"/>
            <input class="module3-02-1input" ng-model="textName.weight" style="border-top: solid 0!important;" placeholder="请选择单件平均重量(KG)"
                   type="number"/>
        </div>

        <div style="width: 100%;margin-top: 10%" ng-click="baomingxihuo()">
            <div class="grade_below_content_tab module3-02-background-color" style="position: fixed;bottom: -30%;height: 50px;font-size: 20px;color: #fff;width: 100%;">
                报名集货
            </div>
        </div>


    </ion-content>
    <script id="io-module2.html" type="text/ng-template">
        <ion-modal-view style="background: rgba(0,0,0,0.7);z-index: 1">
            <ion-content style="width:100%;height:100%;text-align: center;overflow: hidden !important;">
                <div style="width: 100%;height: 100%;display: table">
                    <div style="display: table-cell;vertical-align: middle;padding-bottom: 43%;z-index: 1">
                        <div style="background-color: #FFFFFF;width: 80%;margin-left: 10%;margin-top: -4%;    border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;">
                            <div style="padding: 0 5% 0 5%;">
                                <div style="width: 100%;height: 400px"></div>
                                <i ng-click="module2Ups.hide()"
                                   style="bottom: 8%;color: #fff;position: absolute;font-size: 50px;left: 42%;"
                                   class="ion-ios-close-outline"></i>
                            </div>
                        </div>
                        <!-- <img style="width: 80%;" src="img/double11Ups.png">
                         <i ng-click="autoPopUpsRemove()" style="bottom: 2%;color: #fff;position: absolute;font-size: 50px;left: 42%;" class="ion-ios-close-outline"></i>-->
                    </div>
                </div>
                <!-- <div class="io-closeBtn" ng-click="autoPopUps.hide()">
                     <span class="ion-ios-close-empty"></span>
                 </div>-->
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
