<ion-view hide-nav-bar="true">
    <div class="bar bar-subheader io-model-header io-group-head">
      <div class="row m_p_0">
          <div ng-click="$ionicGoBack()" class="goBackStyle">
              <i class="icon ion-ios-arrow-left"></i>
          </div>
          <div class="col col-34 m_p_0  io-head-center">参团列表</div>
          <div class="col col-23 m_p_0"></div>
      </div>
    </div>

    <ion-content class="padding io-common-content">
        <ul class="io-group-ul">
            <li>
                <div class="io-pro_img">
                    <img src="img/list.png">
                </div>

                <div class="io-pro_info">
                    <h3>鞋服专送00321期</h3>
                    <span>1.5g-5kg 每日最低需寄20件</span>
                    <div class="io-list-more">
                        <div class="io-progress">
                            <span>10%</span>
                        </div>
                        <div class="io-list-btn">
                            <span>立即参团</span>
                            <span>已经参团</span>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </ion-content>
</ion-view>
