body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; list-style:none;font-family: "微软雅黑"; -webkit-appearance: none;}
a{color:#2b2b2b; text-decoration:none}
body{ font-size:12px; background-color: #323542;}
img { border:0px;}

.whole{
	width:100%;
	overflow:hidden;
	margin:0 auto;
}
.title{
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 22px;
	text-align: center;
	line-height: 130px;
	color: #fff;
	height: 150px;
}
.coordinates-icon{
	width: 78%;
	height: 104px;
	margin: 40px auto;
	position: relative;
}
.coordinates{
	width: 80px;
	height: 136px;
	overflow: hidden;
	position: absolute;
	z-index: 8;
	margin-left: -40px;
	top:-42px;
	left: 50%;
}
.coordinates img{
	width:100%;
	height:auto;
}

.circle-1-1{
	width:100%;
	height:94px;
	overflow:hidden;
	border:1px solid rgba(255,255,255,0.5);
	border-radius:100%;
	background-color:#3a3d4a;
	position:absolute;
	bottom:0;
	z-index:1;
	opacity:0;
}
.circle-2-2{
	width:234px;
	height:56px;
	overflow:hidden;
	border:1px solid rgba(255,255,255,0.4);
	border-radius:100%;
	background-color:#4e515c;
	/*margin:19px 88px;*/
	left:50%;
	margin-left:-117px;
	bottom:19px;
	position:absolute;
	z-index:2;
	opacity:0;
}
.circle-3-3{
	width:108px;
	height:26px;
	overflow:hidden;
	border:1px solid rgba(255,255,255,0.3);
	border-radius:100%;
	background-color:#71747d;
	/*margin:15px 63px;*/
	z-index:3;
	left:50%;
	margin-left:-54px;
	bottom:34px;
	position:absolute;
	opacity:0;
}

.login-form{
	width:100%;
	height:auto;
	margin:10px auto 20px auto;
}
.common-div{
	width:100%;
	height:44px;
	overflow:hidden;
	border-radius:4px;
	-webkit-border-radius:4px;
	margin-bottom:40px;
}
.user-name,.user-pasw{
	background-color:rgba(255,255,255,0.1);
	display: flex;
    width:90%;
    margin:15px auto;
}
.common-div >.common-icon{
    float: left;
    width: 30px;
    height: 45px;
    overflow: hidden;
    margin: 2px;
    padding: 9px 2px 9px 6px;
}
.common-div >.common-icon img{
	width:100%;
	height:auto;
}
.common-div >input{
    float: left;
    height: 44px;
    margin: 0px 8px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    line-height: 44px;
}
.login-btn{
    background-color: #e24340;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 44px;
    width: 90%;
    margin: 30px auto 0;
}
.forgets{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.forgets >a{
	color:#fff;
	opacity:0.2;
	font-size:14px;
}
.forgets >a +a{
	float:right;
}

/***layer css***/
.layui-m-layercont,.layui-m-layerbtn >span{
	font-size:24px !important;
}

/***动画***/
.topAct{
	animation:topAct 3s ease-in-out infinite;
	-webkit-animation:topAct 3s ease-in-out infinite;
	-moz-animation:topAct 3s ease-in-out infinite;
	-o-animation:topAct 3s ease-in-out infinite;
	-ms-animation:topAct 3s ease-in-out infinite;
}
@keyframes topAct
{
	0% {top:-110px}
	50% {top:-50px;}
	100%{top:-110px}
}
@-webkit-keyframes topAct
{
	0% {top:-110px}
	50% {top:-50px;}
	100%{top:-110px}
}
@-moz-keyframes topAct
{
	0% {top:-110px;}
	50% {top:-50px;}
	100%{top:-110px;}
}

.circle-show{
	animation:circleShow 3s ease-in-out infinite 1s;
	-webkit-animation:circleShow 3s ease-in-out infinite 1s;
	-moz-animation:circleShow 3s ease-in-out infinite 1s;
	-ms-animation:circleShow 3s ease-in-out infinite 1s;
	-o-animation:circleShow 3s ease-in-out infinite 1s;
}
@keyframes circleShow
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes circleShow
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}
@-moz-keyframes circleShow
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}

.circle-show-1{
	animation:circleShow1 3s ease-in-out infinite 1.2s;
	-webkit-animation:circleShow1 3s ease-in-out infinite 1.2s;
	-moz-animation:circleShow1 3s ease-in-out infinite 1.2s;
	-ms-animation:circleShow1 3s ease-in-out infinite 1.2s;
	-o-animation:circleShow1 3s ease-in-out infinite 1.2s;
}
@keyframes circleShow1
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes circleShow1
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}
@-moz-keyframes circleShow1
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}

.circle-show-2{
	animation:circleShow2 3s ease-in-out infinite 1.4s;
	-webkit-animation:circleShow2 3s ease-in-out infinite 1.4s;
	-moz-animation:circleShow2 3s ease-in-out infinite 1.4s;
	-ms-animation:circleShow2 3s ease-in-out infinite 1.4s;
	-o-animation:circleShow2 3s ease-in-out infinite 1.4s;
}
@keyframes circleShow2
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes circleShow2
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}
@-moz-keyframes circleShow2
{
	0% {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}